<h1>LIST</h1>
<%= notice %>

<% @todos.each do |todo| %>
<div class="container">
  <div table="col-md-6">
        <%= todo.completed %>
  </div>



    <div table="col-md-6">
          <%= todo.completed %>
          Lorem ipsum dolor sit amet
  </div>
</div>

<% end %>
